.banner {
    
    color: #f1f1f1;
    height: 100vh;
  }
  .container {
    height: 100vh;
  }
  .row {
    align-items: center;
    height: 100vh;
    overflow:hidden;
  }
  .btn {
    padding: 0.5em 1.5em;
    border-radius: 2em;
  }
  
  @media screen and (min-width: 769px) {
    p {
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 768px) {
    .banner {
      padding: 2em;
      text-align: center;
    }
  }
  @media screen and (max-width: 567px) {
    img {
      width: 70%;
    }
  }
  