.yourorders{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    padding: 20px;
    position: relative;

}
.yourorders table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    overflow: hidden;
    

}
.yourorders table tr{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}
.yourorders table tr th{
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    color: grey;
}
.yourorders table tr td{
    padding: 5px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    color: grey;
}
.yourorders table tr td button{
    padding: 5px 20px;
    margin: 0px;
    font-size: 16px;
    
}
.yourorders table tr td p{
    display: flex;
    align-items:center;
    gap: 20px;
}
.yourorders table tr td p .greendot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.yourorders table tr td p .yellowdot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
}
.yourorders table tr td p .reddot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}
